:root {
    /* for theme 1 */
    --mainbg: hsl(222, 26%, 31%);
    --togglebg: hsl(223, 31%, 20%);
    --screenbg: hsl(224, 36%, 15%);
    --delkeybg: hsl(225, 21%, 49%);
    --delkeyshadow: hsl(224, 28%, 35%);
    --redkeybg: hsl(6, 63%, 50%);
    --redkeyshadow: hsl(6, 70%, 34%);
    --keybg: hsl(30, 25%, 89%);
    --keyshadow: hsl(28, 16%, 65%);

    /* text */
    --verydarkgrayishblue: hsl(221, 14%, 31%);
    --white: #ffffff; /*for text*/
    --palewhite: hsla(0, 0%, 100%, 0.75);
    
    /* for theme 2 */

    --mainbg2: hsl(0, 0%, 90%);
    --togglebg2: hsl(0, 5%, 81%);
    --screenbg2: hsl(0, 5%, 96%);

    --delkeybg2: hsl(185, 42%, 37%);
    --delkeyshadow2: hsl(185, 58%, 25%);
    --redkeybg2: hsl(25, 98%, 40%);
    --redkeyshadow2: hsl(25, 99%, 27%);
    --keybg2: hsl(45, 7%, 89%);
    --keyshadow2: hsl(35, 11%, 61%);

    /* text */
    --verydarkgrayishyellow: hsl(60, 10%, 19%);
   

    /* for theme 3 */
    --mainbg3: hsl(268, 75%, 9%);
    --togglebg3: hsl(268, 71%, 12%); /*both togglebg, screenbg and keypad bg*/

    --delkeybg3: hsl(281, 89%, 26%);
    --delkeyshadow3: hsl(285, 91%, 52%);
    --redkeybg3: hsl(176, 100%, 44%);
    --redkeyshadow3: hsl(177, 92%, 70%);
    --keybg3: hsl(268, 47%, 21%);
    --keyshadow3: hsl(290, 70%, 36%);

    /* text and number */
    --lightyellow: hsl(52, 100%, 62%);
    --verydarkblue: hsl(198, 20%, 13%); /*for equal*/
   

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainbg);
    font-family: 'Spartan', sans-serif;
    /* width: 100%;
    height: 100vh; */
    height: 100vh;
    
}

body.active {
    background-color: var(--mainbg2);
}

body.active2 {
    background-color: var(--mainbg3);
}

.wrapper {
    width: 500px;

    margin: 20vh auto;
    /* border: 1px solid transparent; */

    transition: 0.5s;
    
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 25px;
   
    
}

.header > * {
    color: var(--white);
}

.header.active > * {
    color: var(--verydarkgrayishyellow);
}

.header.active2 > * {
    color: var(--lightyellow);
}

.header h2 {
    margin-right: auto;
}

.theme {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme p {
    margin-right: 20%;
    margin-top: 15%;
    font-size: 10px;
    
}

.togglecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 35%;
}

#toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 20px;
    cursor: pointer;
    
    background-color: var(--togglebg);
    border-radius: 30px;

    transition: 0.5s;

    /* innershadow */
    box-shadow: inset 0 2px 15px rgba(0,0,0,0.1),
                inset 0 2px 2px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle.active {
    background-color: var(--togglebg2);
}

#toggle.active2 {
    background-color: var(--togglebg3);
}

#toggle .indicator {
    position: absolute;
    top: 2.5px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: var(--redkeybg);
    border-radius: 50%;
    /* transform: scale(0.9); */
    box-shadow: inset 0 -2px 2px var(--redkeyshadow);
    transition: 0.5s;
}


/* when we click toggle button */
#toggle.active .indicator {
    left: 23px;
    background-color: var(--redkeybg2);
    box-shadow: inset 0 -2px 2px var(--redkeyshadow2);
}

#toggle.active2 .indicator {
    left: 42px;
    background-color: var(--redkeybg3);
    box-shadow: inset 0 -2px 2px var(--redkeyshadow)3;
   
}

/* calculator */
.calculator-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-wrapper {
    background-color: var(--togglebg);
    margin-top: 25px;
    border-radius: 10px;
}

.btn-wrapper.active {
    background-color: var(--togglebg2);
}

.btn-wrapper.active2 {
    background-color: var(--togglebg3);
}

.btn-wrapper .btn {
    padding: 25px;
}

.btn {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,90px);
    grid-template-rows: repeat(5, 50px);
    column-gap: 15px;
    row-gap: 15px;
}

.btn > button {
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    font-size: 32px;
    color: var(--verydarkgrayishblue);
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var(--keybg);
    box-shadow: inset 0 -3px 2px var(--keyshadow);
}

.btn.active > button {
    background-color: var(--keybg2);
    color: var(--verydarkgrayishyellow);
    box-shadow: inset 0 -3px 2px var(--keyshadow2);
}

.btn.active2 > button {
    background-color: var(--keybg3);
    color: var(--lightyellow);
    box-shadow: inset 0 -3px 2px var(--keyshadow3);
}

.btn > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.btn .delete {
    background-color: var(--delkeybg);
    box-shadow: inset 0 -3px 2px var(--delkeyshadow);
    color: var(--white);
    font-size: 16px;
}

.btn .delete:hover {
    background-color: hsla(225, 21%, 49%, 0.9);
}

.btn .equal {
    background-color: var(--redkeybg);
    box-shadow: inset 0 -3px 2px var(--redkeyshadow);
    color: var(--white);
    font-size: 16px;
}

.btn .equal:hover {
    background-color: rgba(147, 38, 26, 0.95);
}

/* theme2 btn */
.btn.active .delete {
    background-color: var(--delkeybg2);
    box-shadow: inset 0 -3px 2px var(--delkeyshadow2);
}

.btn.active .delete:hover {
    background-color: hsl(185, 58%, 25%, 0.9);
}

.btn.active .equal {
    background-color: var(--redkeybg2);
    box-shadow: inset 0 -3px 2px var(--redkeyshadow2);
}

.btn.active .equal:hover {
    background-color: hsl(25, 99%, 27%, 0.9);
}

/* theme3 btn */

.btn.active2 > button:hover {
    background-color: rgba(185, 97, 214, 0.65);
}
.btn.active2 .delete {
    background-color: var(--delkeybg3);
    box-shadow: inset 0 -3px 2px var(--delkeyshadow3);
}

.btn.active2 .delete:hover {
    background-color: hsl(285, 91%, 52%, 0.65);
}

.btn.active2 .equal {
    background-color: var(--redkeybg3);
    box-shadow: inset 0 -3px 2px var(--redkeyshadow3);
}

.btn.active2 .equal:hover {
    background-color: hsl(177, 92%, 70%, 0.65);
}
/* output section */
.output {
    width: 92%;
    height: 100px;
    /* overflow-y: scroll; */
    background-color: var(--screenbg);
    text-align: right;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
}

/* .output::-webkit-scrollbar {
    display: none;
} */

.output.active {
    background-color: var(--screenbg2);
    color: var(--verydarkgrayishyellow);
}

.output.active2 {
    background-color: var(--togglebg3);
}

.output .previous-num {
    color: var(--palewhite);
    font-size: 20px;
    margin-bottom: 23px;
}

.output .current-num {
    color: var(--white);
    font-size: 32px;
    margin: 20px 15px;
}

.output.active .previous-num {
    color: hsl(221, 14%, 31%, 0.75);
}

.output.active .current-num {
    color: var(--verydarkgrayishyellow);
}

.output.active2 .previous-num {
    color: hsl(52, 100%, 62%, 0.75);
}

.output.active2 .current-num {
    color: var(--lightyellow);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 25px;

}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 414px) {
    .wrapper {
        width: 300px;
    }
    .header {
        margin: 10px;
    }

    .btn {
        grid-template-columns: repeat(4,45px);
        grid-template-rows: repeat(5, 45px);
    }

    .btn > button {
        font-size: 20px;
    }

    .output .current-num {
        font-size: 25px;
        margin: 25px 15px;
    }
}
